argbind==0.3.9
basic-pitch==0.4.0
beat-this==1.1.0
braceexpand==0.1.7
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
encodec==0.1.1
ffmpy==1.0.0
fire==0.7.1
flatten-dict==0.5.0
frechet_audio_distance==0.3.4
ftfy==6.3.1
julius==0.2.8
laion_clap==1.1.7
markdown2==2.5.5
progressbar==2.5
protobuf==4.25.9
pyloudnorm==0.2.0
randomname==0.2.1
resampy==0.4.2
rotary-embedding-torch==0.8.9
sentry-sdk==2.61.1
tflite-runtime==2.14.0
torch-stoi==0.2.3
torchlibrosa==0.1.0
webdataset==1.0.2
wget==3.2
